<h1>Listing books</h1>

<%= link_to 'New Book', new_book_path %>

<div>
  <input type='text' class='search-form' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Amazon</th>
      <th>Have you read it?</th>
      <th>Rating</th>
      <th>Book Genres</th>
      <th>All Genres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= render @books %>
